* {
    margin: 0;
    padding: 0;
}

html{
scroll-behavior: smooth;
}


/* NAVBAR */
#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;

}

#logo {
    margin: 11px 16px;
}

#logo img {
    margin: -9px -2px;
    width: 89px;

}

#navbar ul{
    display: flex;
}
#navbar ul li{
   list-style: none; 
   font-size: 1.4rem;
}
#navbar ul li a{
   padding: 3px 8px;
   margin: 0px 27px;
   display: block;
   text-decoration: none;
    color: black;
    border-radius: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

#navbar::before {
    content: '';
    background-color: rgb(196, 252, 112);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

#navbar ul a:hover {
    color: darkgreen;
    background-color: white;

}

/* HOME SECTION  */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 100px;
     justify-content: center;
     align-items: center;
    height: 444px;

}

#home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: url(images/bg2.jpg) no-repeat center center/cover;
    height: 553px;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

.h-primary{
    font-size: 3.8rem;
    padding: 26px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    
}

#home h1{
    color: #9831ff;
    text-align: center;

}

#home p{
    text-align: center;
    color: rgb(255, 2, 2);
}

.btn{
    padding: 6px 14px;
    border: 2px solid black;
    background-color: rgb(144, 247, 60);
    margin: 15px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;

}

.btn:hover {
    color: white;
    background-color: rgb(25, 175, 25);
}

/* SERVICES SECTION */

.center{
    text-align: center;
}

.h2-primary{
    font-size: 3rem;
    padding-top: 43px;
    padding-bottom: 10px;
    text-align: center;
    /* margin-top: 20px; */
    font-family: 'Arimo', sans-serif;;
    
}
.h-secondary{
    font-size: 1.5rem;
    padding: 12px;
}

#services{
    margin: 23px;
    display: flex;
}

#services .box{
    border: 2px solid black;
    padding: 14px;
    margin: 10px;
    border-radius: 20px;
    background-color: #faf5ff;
}
#services .box img{
    height: 160px;
    width: 180px;
    display: block;
    margin: auto;
}

/* CLIENTS SECCTION */
#client-section{
    /* height: 300px; */
    position: relative;
}

#client-section::before{
    content: "";
    position: absolute;
    /* top: 0;
    left: 0; */
    background: url(images/bg1.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .4;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 113px;
}

.client-item{
    padding: 40px;
}

/* CONTACT SECTION  */
#contact{
position: relative;
/* height: 700px; */
}

#contact::before{
    content: "";
    position: absolute;
    background: url(images/contact1.jpg) no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .4;
}
#contact-box{
display: flex;
justify-content: center;
align-items: center;
padding-bottom: 30px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 5px;
    border-radius: 9px;

}

#contact-box form{
    width: 30%;
}
#contact-box label{
    font-size: 18px;
}

#contact-box input:hover{
    background: rgb(212, 210, 210);
    color: rgb(132, 0, 255);
}





/* FOOTER  */
footer{
    background: black;
    color: white;
    padding: 0px -1px;

}
